@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

body{
    display: flex;
    height: 100vh;
    background: #e6eefa;
}

/* left section */
.left-section{
    background: white;
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px 10px;
    transition: all 0.4s ease;
}

.left-section h2{
    color: #2b3f71;
    margin-bottom: 15px;
    text-align: center;
}

.left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left-section .sidebar .item,
.left-section .sign-out{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #2b3f71;
    cursor: pointer;
    transition: all 0.4s ease;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section .sign-out:hover{
    color: #156fc8;
}

.left-section .sidebar .item h3,
.left-section .sign-out h3{
    font-size: 14px;
    font-weight: 500;
}

.left-section .sidebar .item i,
.left-section .sign-out i{
    font-size: 21px;
}

/* main */
.main-section{
    flex: 6;
    padding: 25px;
}

.main-section .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section .header .search{
    background: white;
    display: flex;
    align-items: center;
    width: 75%;
    padding: 8px 10px;
    border-radius: 9px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.main-section .header .search button{
    font-size: 18px;
    border: none;
    background: transparent;
}

.main-section .header .search input{
    padding: 4px 6px;
    font-size: 13px;
    border: none;
    outline: none;
    width: 100%;
}

.main-section .header .search i{
    cursor: pointer;
}

.main-section .header .icon-buttons{
    display: flex;
    gap: 8px;
}

.main-section .header .icon-buttons i{
    font-size: 20px;
    background: #10579f;
    padding: 8px;
    color: white;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.main-section .header .icon-buttons i:hover{
    background: #0d47a1;
}

.main-section .header .icon-buttons i#menu-btn{
    display: none;
}

.main-section .separator{
    margin: 35px 0 20px;
    font-weight: 500;
    color: #2b3f71;
}

.main-section .quick-access{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.main-section .quick-access .item{
    background: white;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 19px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.main-section .quick-access .item:hover{
    box-shadow: none;
    border-color: #999;
}

.main-section .quick-access .item i{
    font-size: 40px;
    padding: 8px;
    border-radius: 15px;
}

.main-section .quick-access .item:nth-child(1) i,
.main-section table tbody tr:nth-child(3) td.icon i{
   color: #6f7071; 
   background: #e6e4ec;
}

.main-section .quick-access .item:nth-child(2) i,
.main-section table tbody tr:nth-child(2) td.icon i{
    color: #1d92f1; 
    background: #ddeffd;
}

.main-section .quick-access .item:nth-child(3) i,
.main-section table tbody tr:nth-child(4) td.icon i{
    color: #ffd12c; 
    background: #fff8df;
}

.main-section .quick-access .item:nth-child(4) i,
.main-section table tbody tr:nth-child(1) td.icon i{
    color: #3bc963; 
    background: #e2f7e8;
}

.main-section .quick-access .item h5{
    font-size: 16px;
    font-weight: 500;
    color: #2b3f71;
    margin: 15px 0 8px;
}

.main-section .quick-access .item p{
    color: #999;
    font-size: 13px;
}

/* table section */

.main-section table{
    background: white;
    padding: 14px;
    width: 100%;
    border-radius: 13px;
    border-spacing: 0 8px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.main-section table tbody tr{
    cursor: pointer;
    transition: all 0.2s ease;
}

.main-section table tbody tr td:nth-child(1){
    border-radius: 13px 0 0 13px;
}

.main-section table tbody tr td:nth-child(5){
    border-radius: 0 13px 13px 0;
}

.main-section table tbody tr.selected,
.main-section table tbody tr:hover{
    border-radius: 14px;
    background: #e6eefa;
}

.main-section table tbody tr td{
    padding: 12px;
}

.main-section table tbody tr td.icon i{
    font-size: 18px;
    padding: 8px;
    border-radius: 11px;
    border: 1px solid transparent;
    transition: all 0.4s ease;
} 

.main-section table tbody tr td.name{
    font-weight: 500;
    font-size: 13px;
    color: #2b3f71;
}

.main-section table tbody tr td.extension,
.main-section table tbody tr td.size,
.main-section table tbody tr td.more{
    color: #999;
    font-size: 14px;
}

.main-section table tbody tr td.more i{
    font-size: 16px;
}

/* right section */
.right-section{
    flex: 2;
    padding: 23px 23px 14px 9px;
}

.right-section .profile{
    background: white;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    cursor: pointer;
}

.right-section .profile .infos{
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-section .profile .infos img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
}

.right-section .profile .infos .account h5{
    font-size: 12px;
    margin-bottom: 2px;
    cursor: pointer;
    line-height: 0.8rem;
}

.right-section .profile .infos .account p{
    font-size: 11px;
    color: #999;
}

.right-section .widgets{
    display: flex;
    flex-direction: column;
}

.right-section .widgets .disk{
    background: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    padding: 0 25px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.right-section .widgets .disk .progress{
    display: flex;
    justify-content: center;
}

.right-section .widgets .disk .progress .progress-bar{
    width: 135px;
    height: 135px;
    background: radial-gradient(closest-side, #fff 79%, transparent 80% 100%), conic-gradient(#0d3b69 60%, #e9e4ff 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-top: 15px;
    border-radius: 50%;
}

.right-section .widgets .disk .progress .progress-bar::before{
    content: "60%";
    font-size: 20px;
}

.right-section .widgets .disk .progress .progress-bar::after{
    content: "used";
    font-size: 12px;
    color: #999;
    line-height: 0;
}

.right-section .widgets .disk .infos h5{
    color: #999;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 3px;
}

.right-section .widgets .disk h5 span{
    color: #2b3f71;
}

.right-section .widgets .disk .infos p{
    font-size: 14px;
    color: #999;
    font-weight: 500;
}

.right-section .widgets .bottom-widget{
    display: flex;
    flex-direction: column;
}

.right-section .widgets .bottom-widget button{
    border: none;
    background: #10579f;
    color: white;
    margin: 20px 0;
    font-size: 18px;
    padding: 13px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.right-section .widgets .bottom-widget button:hover{
    background: #0d47a1;
}

.right-section .widgets .bottom-widget .upgrade{
    background: white;
    padding: 23px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    border-radius: 14px;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    transition: all 0.2s ease;
}

.right-section .widgets .bottom-widget .upgrade:hover{
    box-shadow: none;
    border-color: #999;
}

.right-section .widgets .bottom-widget .upgrade .title{
    display: flex;
    align-items: center;
    gap: 9px;
}

.right-section .widgets .bottom-widget .upgrade .title h5, .right-section .widgets .bottom-widget .upgrade .title i{
    font-size: 17px;
    font-weight: 600;
}

.right-section .widgets .bottom-widget .upgrade .title i{
    font-size: 25px;
    padding: 7px;
    background: #10579f;
    color: white;
    border-radius: 14px;
}

.right-section .widgets .bottom-widget .upgrade p{
    color: #999;
    font-size: 15px;
    line-height: 1.2rem;
}

/* media query */
@media screen and (max-width: 1230px){
    .left-section{
        width: 90px;
    }
    .left-section h2{
        font-size: 15px;
    }
    .left-section .sidebar .item{
        justify-content: center;
    }
    .left-section .sidebar .item h3,
    .left-section .sign-out h3{
        display: none;
    }
    .left-section .sidebar .item i,
    .left-section .sign-out i{
        font-size: 23px;
    }
    .main-section .quick-access{
        justify-content: space-between;
    }
    .main-section .quick-access .item{
        width: 22%;
    }
    .main-section .quick-access .item i{
        font-size: 35px;
    }
    .main-section .quick-access .item h5{
        font-size: 15px;
    }
    .main-section .quick-access .item p,
    .right-section .profile .info .account p{
        font-size: 12px;
    }
    .right-section .widgets .disk{
        height: 265px;
    }
    .right-section .widgets .disk .progress .progress-bar{
        width: 120px;
        height: 120px;
    }
    .right-section .widgets .disk .infos h5{
        font-size: 17px;
    }
       .right-section .widgets .bottom-widget button{
        font-size: 17px;
        padding: 12px;
    }
    .right-section .widgets .bottom-widget .upgrade .title h5{
        font-size: 18px;
    }
    .right-section .widgets .bottom-widget .upgrade .title i{
        font-size: 25px;
    }
    .right-section .widgets .bottom-widget .upgrade p{
        font-size: 14px;
    }
}


@media screen and (max-width: 992px){
    
}


@media screen and (max-width: 768px){
    
}


@media screen and (max-width: 576){

}