@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

body{
    display: flex;
    height: 100vh;
    background: #e6eefa;
}

/* left section */
.left-section{
    background: white;
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px 10px;
    transition: all 0.4s ease;
}

.left-section h2{
    color: #2b3f71;
    margin-bottom: 15px;
    text-align: center;
}

.left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left-section .sidebar .item,
.left-section .sign-out{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #2b3f71;
    cursor: pointer;
    transition: all 0.4s ease;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section .sign-out:hover{
    color: #156fc8;
}

.left-section .sidebar .item h3,
.left-section .sign-out h3{
    font-size: 14px;
    font-weight: 500;
}

.left-section .sidebar .item i,
.left-section .sign-out i{
    font-size: 21px;
}

/* main */
.main-section{
    flex: 6;
    padding: 25px;
}

.main-section .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section .header .search{
    background: white;
    display: flex;
    align-items: center;
    width: 75%;
    padding: 8px 10px;
    border-radius: 9px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.main-section .header .search button{
    font-size: 18px;
    border: none;
    background: transparent;
}

.main-section .header .search input{
    padding: 4px 6px;
    font-size: 13px;
    border: none;
    outline: none;
    width: 100%;
}

.main-section .header .search i{
    cursor: pointer;
}

.main-section .header .icon-buttons{
    display: flex;
    gap: 8px;
}

.main-section .header .icon-buttons i{
    font-size: 20px;
    background: #10579f;
    padding: 8px;
    color: white;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.main-section .header .icon-buttons i:hover{
    background: #0d47a1;
}

.main-section .header .icon-buttons i#menu-btn{
    display: none;
}

.main-section .separator{
    margin: 35px 0 20px;
    font-weight: 500;
    color: #2b3f71;
}

.main-section .quick-access{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.main-section .quick-access .item{
    background: white;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 19px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
