@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

body{
    display: flex;
    height: 100vh;
    background: #e6eefa;
}

/* left section */
.left-section{
    background: white;
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px 10px;
    transition: all 0.4s ease;
}

.left-section h2{
    color: #2b3f71;
    margin-bottom: 15px;
    text-align: center;
}

.left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left-section .sidebar .item,
.left-section .sign-out{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #2b3f71;
    cursor: pointer;
    transition: all 0.4s ease;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section .sign-out:hover{
    color: #156fc8;
}

.left-section .sidebar .item h3,
.left-section .sign-out h3{
    font-size: 14px;
    font-weight: 500;
}

.left-section .sidebar .item i,
.left-section .sign-out i{
    font-size: 21px;
}